<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href=""><img src="../../assets/icon.png">West Clare Sports and Fitness</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/amenities">Amenities </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/training">Training </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallary">Gallary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact </a>
        </li>

      </ul>
      <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
          </form>
    </div>
  </nav>