
  <div class="jumbotron jumbotron-fluid" >
    <div class='bgImage'>
    <h1 class='text-center'>Welcome</h1>
    <p class="lead">
      This page is in development
    </p>
    <a class="btn btn-lg btn-primary" href="" role="button"></a> 
    </div> 
  </div>
