.content {
    padding: 20px;
    overflow: hidden;
}

.content img {
    border: 2px;
    padding: 5px;
    margin-right: 15px;
    float: left;
}

.content h3,
.content p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}