


  <div class="jumbotron jumbotron-fluid" >
    <div class='content'>
      <img src="url(../../../../assets/track_dev.jpg">
      <h3>West Clare Sports and Fitness Training Facility</h3>
      <br>
      <p>Aerial view of West Clare Sports and Fitness Training Facility.</p>
    </div> 

    <div class='content'>
      <img src="url(../../../../assets/track_dev.jpg">
      <h3>West Clare Sports and Fitness Training Facility</h3>
      <br>
      <p>Aerial view of West Clare Sports and Fitness Training Facility.</p>
    </div> 
  </div>
